*~
.gradle/
/*.pdf
RCS/
/Cherokee Language Lessons-Volume 1.md
/Cherokee Language Lessons-Volume 1.tex
/RCS.old
ᏴᏫ.html.LyXconv/
settings.sample.json
/reports/
/ref/
/used-vocabulary.txt
/vocabulary.lyx
/vocabulary.txt.bak
/vocabulary.txt.tmp
/vocabulary-unmatched.txt
*.zip
nohup.out
