tally_*png
syllabary chart.jpg
syllabary chart.png
adaksi-flag-blind.jpg
adaksi-flag-blind.png
adaksi-flag.jpg
adaksi-flag.png
agilisi-flag-blind.jpg
agilisi-flag-blind.png
agilisi-flag.jpg
agilisi-flag.png
ajalagi-flag-blind.jpg
ajalagi-flag-blind.png
ajalagi-flag.jpg
ajalagi-flag.png
ayonega-flag-blind.jpg
ayonega-flag-blind.png
ayonega-flag.jpg
ayonega-flag.png
yvwi-no-flag-blind.jpg
yvwi-no-flag-blind.png
yvwi-no-flag.jpg
yvwi-no-flag.png
syllabary_chart.jpg
old/
